@import '../../../../Variables.css';

.dense-node {
    height: fit-content;
    border: 1px solid var(--node_border_color);
    padding: 0px 0px 10px 0px;
    border-radius: 8px;
    background: var(--dense_background);
  }
  
  .dense-node label {
    display: block;
    color: var(--node_label_font_color);
    font-size: 12px;
    padding: 5px;
  }
  
  .dense-node input{
    margin: 0px 5px 0px 5px;
  }
  .dense-node select{
    margin: 0px 5px 0px 5px;
    width: 95%;
  }

  .dense-node>.node-header{
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--dense_header);
    color: var(--node_header_font_color);
    font-weight:bolder;
  }