.input-node {
    height: fit-content;
    border: 1px solid #000000;
    padding: 0px 0px 10px 0px;
    border-radius: 8px;
    background: rgb(105, 172, 61);
  }
  
  .input-node label {
    display: block;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
  }
  
  .input-node input{
    margin: 0px 5px 0px 5px;
  }

  .input-node >.node-header{
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    background-color: #5d9522;
    color: #ffffff;
    font-weight:bolder;
  }