# Jetbrains
.idea

# Python
__pycache__
*$py.class

# Virtual environment
venv
venv_windows

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# MacOS
.DS_Store

# Environment
.env

data/*.csv

templates/generated-code/*.py
templates/json-model/*.json
